/compras no mercadinho/nbproject/private/
/compras no mercadinho/build/
/aumento de salario/nbproject/private/
/aumento de salario/build/
/iteracao/build/
/iteracao/dist/
/iteracao/nbproject/private/
/EstruturaDeRepeticao/build/
/EstruturaDeRepeticao/dist/
/EstruturaDeRepeticao/nbproject/private/
/folha de pagamento/nbproject/private/
/folha de pagamento/build/
/escolha do dia semanal/nbproject/private/
/medidas de um triangulo/nbproject/private/
/medidas de um triangulo/build/
/medidas de um triangulo/dist/
/equacao do segundo grau/nbproject/private/
/equacao do segundo grau/build/
/equacao do segundo grau/dist/
