/compras no mercadinho/nbproject/private/
/compras no mercadinho/build/
/aumento de salario/nbproject/private/
/aumento de salario/build/
/iteracao/build/
/iteracao/dist/
/iteracao/nbproject/private/
/EstruturaDeRepeticao/build/
/EstruturaDeRepeticao/dist/
/EstruturaDeRepeticao/nbproject/private/
